/* 
Pasos para estilizar
1. Posicionamiento
2. Modelo de caja (Box-Model)
3. Tipografia
4.Visuales (shadow-box, border-radius)
5. Otros
*/

:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
/* reiniciamos el estilo de la pagina */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /*Usamos esto para poder aplicar rem en vez de px*/
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative; /*para que los hijos no se salgan de este contenedor*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /*tamaño mas pq en tlf*/
    height: 334px;
    text-align: center; /*mueve horizontalmente los elementos adentro de un bloque*/
    background: linear-gradient(208deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center; /*al tener un contenedor padre con display flex podemos moverlo horizontalmente*/
}

.header--tittle-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px; /*tamano mas grande que se puede*/
    height: 218px;
    margin-top: 50px;
    align-self: center;
}

.header--tittle-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem; /*altura que hay entre los parrafos*/
    color: var(--just-white);
}

.header--tittle-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--tittle-container .header--button{
    position: absolute;
    left: calc(50% - 118px); /*esto ubica al centro de la pantalla el boton*/
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 5px;
    font-size: 1.4rem; /*esto se puede porque es un anchortag estilizado como un boton*/
    font-weight: bold;
    text-decoration: none;
    color: var(--black);

}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./assets/icons/down-arrow.svg); /*de esta forma le agregamos imagen al span*/
}

main{
    width: 100%;
    height: auto; /*la altura se la dara el mismo contenido*/
    background-color: var(--off-white);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 30px;
}

.main-exchange-container--tittle{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: auto;
    margin: 0 auto; /*al ocupar el 90% con este margen se mantendra en el centro*/
}

main .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center; /*siempre centra la imagen en el contenedor*/
    background-repeat: no-repeat;
}

.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--black);
}

.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--tittle{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    margin-right: 200px;
} 

.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table{ /*permite ocupar todo el espacio del contenedor*/
    width: 100%;
    height: 100%;
}

.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right {
    border-radius: 0px 15px 0px 0px;
}

.currency-table--container .table__bottom-left{
    border-radius: 0px 0px 0px 15px;
}

.currency-table--container .table__bottom-right {
    border-radius: 0px 0px 15px 0px;
}

.currency-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--soft-orange);
}

.currency-table--date p{
    font-size: 12px;
    color: var(--black);
    line-height: 15px;
    font-weight: 300;
}

.main-product-detail{
    width: 100%;
    height: auto;
    background-color: var(--warm-black);
    position: relative; /*colocamos positon relativa para que la img que tendra position obsolute tome a este contenedor como padre y no a otro evitando reacciones raras, ya que este busca al contenedor con position relative mas cercano.*/
    padding: 20px 10px;
}

.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url(./assets/icons/batata.svg);
    background-position: center;
    background-repeat: no-repeat;
    top: -10px;
    left: calc(50% - 20px);
}

.product-detail--tittle{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}

.product-detail--tittle h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    color: var(--just-white);
    text-align: center;
    line-height: 2.6rem;
    font-weight: bold;

}

.product-detail--tittle p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
    text-align: center;
}

.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    min-height: 150px; /*si ocurre overflow, esto hace que aumente la altura del card logrando reparar el overflow*/
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0,0, 0.16);
}

.product-detail--card .clock{
    display: inline-block; /*para que se muestre y no salga del flow inline-block, se puede usar absolute pero sale del flow del contenedor*/
    width: 22px;
    height: 22px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/clock.svg) ;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card .eye{
    display: inline-block; /*para que se muestre y no salga del flow inline-block, se puede usar absolute pero sale del flow del contenedor*/
    width: 22px;
    height: 22px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/eye.svg) ;
    background-position: center;
    background-repeat: no-repeat;
}

.product--card-tittle{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(./assets/img/bitcoinbaby2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.bitcoin-img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 6.6rem;
    color: var(--just-white);
}

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
    background-color: var(--off-white);
}

.plans--tittle{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans--tittle h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--black);
    line-height: 2.6rem;
}

.plans--tittle .body{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plan-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    margin: 50px auto 0;
    height: 250px;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

/* aca no se usa .recomendado p porque el parrafo en si es su contenedor, esto no se puede hacer con los span */
.recomendado{
    position: absolute;
    left: calc(50% - 60px);
    width: 120px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    text-align: center;
    top: -15px;
    font-size: 1.2rem;
    padding: 6px;
}

.plan-card--tittle{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card--price{
    padding: 5px 0;
    font-size: 5.3rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: var(--black);
}

.plan-card--price span{
    position: absolute;
    font-size: 1.2rem;
    font-weight: 300;
    left: 50px;
    bottom: 155px;
    
}

.plan-card--saving{
    font-size: 1.2rem;
    color: #757575;
}

.plan-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black); 
    font-family: 'DM Sans', sans-serif;
    /* padding-bottom: 5px; */
    
}

.plan-card--ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./assets/icons/orange-right-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

.plans-container--slider{
    display: flex;
    gap: 10px;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left ul{
    font-size: 1.4rem;
    font-weight: 500;
    list-style: none;
    line-height: 1.8rem;
}

.left li{
    margin: 10px 0px;
}

.left a{
    text-decoration: none;
    color: var(--just-white);
}